p{
	color: white;
	font-size: 28px;
}
a{
	color: blue;

}
h1{
	color: red;
	text-align: center;
	font-size: 45px;
	font-family: Comic Sans MS;
	text-decoration: underline;
}

h2{
	color: grey;
	font-size:  37px;
	font-family:Courier New;
	font-weight: bold;
	 
}
body{
	background-image: url(image_de_fond.jpg);
}
